    /* @font-face {
    font-family: "Vazir";
    src: url('/assents/vazir-font-v18.0.0/Vazir.eot') format('eot'), url('/assents/vazir-font-v18.0.0/Vazir.woff') format('woff'), url('/assents/vazir-font-v18.0.0/Vazir.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
} */
    
    * {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
    .backgruond {
        background-image: url(/assents/img/8881702546447341.jpg);
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
        background-position: center;
        height: 60rem;
        z-index: 1;
    }
    
    .welcome {
        padding-right: 940px;
        padding-top: 460px;
        font-size: 32px;
        padding-left: 60px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
    .logo {
        left: 0px;
        margin-right: 430px;
    }
    
    .backgruondmini {
        background-image: url(/assents/img/1702546447341.jpg);
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
        background-position: center;
        height: 60rem;
    }
    
    .btn {
        margin-right: 935px;
        height: 3rem;
        width: 14em;
        border: 3px solid #2979ff;
        border-radius: 30em;
        font-size: 25px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: rgb(1, 10, 10);
        background-color: rgba(255, 255, 255, 0.699);
        box-shadow: 0px 0px 20px 0px #2979ff;
        transition: all ease 0.5s;
    }
    
    .btn:hover {
        background: #243046;
    }